
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Posts</h1>

    <form action="/posts" method="POST" enctype="multipart/form-data">
     <div><input type="text" name="post[title]" placeholder="Title"></div>
     <div><input type="text" name="post[price]" placeholder="Price"></div>
     <div>
         <input type="file" accept="images/*" name="images" multiple />
     </div>
     <div><textarea name="post[description]" placeholder="Description"></textarea></div>
     <div><input type="text" name="post[location]" placeholder="Location"></div>
     <input type="submit">
    </form>
    
</body>
</html>